/* Colors */

:root{

  // black
  --color-black-100: #191A1A;
  --color-black-200: #3B4040;
  --color-black-300: #505353;
  --color-black-400: #676F6F;
  --color-black-500: #808989;
  --color-black-600: #8B9393;
  --color-black-700: #8A9393;

  // orange
  --color-orange-100: #F2542C;
  --color-orange-200: #F47352;
  --color-orange-300: #F9B19F;
  --color-orange-400: #F5B4A3;
  --color-orange-500: #FCE9E4;
  --color-orange-600: #FDF8F7;

  // gray
  --color-gray-100: #C8D0D0;
  --color-gray-200: #DBDBDB;
  --color-gray-300: #EAECEC;

  // green
  --color-green-100: #239112;

  // yellow
  --color-yellow-100: #FBD44B;

  // red
  --color-red-100: #F42A3B;

  // white
  --color-white: #ffffff;

}